@import "tailwindcss";
/* index.css or App.css */
body {
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow:hidden; /* Prevent horizontal overflow */
  }
  
  body.light {
    background-color: #ffffff; /* Light mode background */
    color: #000000; /* Light mode text */
  }
  
  body.dark {
    background-color: #121212; /* Dark mode background */
    color: #ffffff; /* Dark mode text */
  }
  
  /* Tailwind dark mode utilities */
  body.dark .bg-gray-800 {
    background-color: #333333;
  }
  
  body.dark .text-white {
    color: #ffffff;
  }
  body.dark .filter-checkboxes{
    border-color:rgb(197, 197, 197); /* Dark mode border color */
  }
  